.body {
  background-color: rgb(0, 0, 0);
  padding: 0 200px;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .body {
    padding: 0 72px;
  }
}

@media (max-width: 1023px) {
  .body {
    padding: 0 94px;
  }
}

@media (max-width: 767px) {
.body {
  padding: 0 19px;
  }
}