.popup__save {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border: none;
  width: 358px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
}
.popup__save:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
    }
}