.profile__button_type-edit {
  background-image: url(../../../../images/edit-button.svg);
  background-size: cover;
  margin-top: 15px;
  width: 24px;
  height: 24px;
}

@media (max-width: 1023px) {
  .profile__button_type-edit {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .profile__button_type-edit {
    margin-top: 8px;
    width: 18px;
    height: 18px;
    }
}