.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  margin: 45px auto 40px auto;
  border-bottom: 1px solid #545454;
}

@media (max-width: 1023px) {
  .header {
    max-width: 581px;
  } 
}

@media (max-width: 767px) {
  .header {
    max-width: 320px;
    margin: 28px auto 42px auto;
    }
}