.profile__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 16px;
}

@media (max-width: 1023px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}

@media (max-width: 767px) {
  .profile__name {
    margin: 0 auto;
    padding-bottom: 14px;
    text-align: center;
    }
}