.profile__button_type-add {
  background-image: url(../../../../images/add-button.svg);
  grid-area: add;
  align-self: center;
  padding: 0;
  width: 150px;
  height: 50px;
}


@media (max-width: 767px) {
  .profile__button_type-add {
    background-image: url(../../../../images/add-button-mobile.svg);
    align-self: flex-end;
    margin-top: 36px;
    width: 282px;
    height: 50px;
    }
}