/* .body {
  background-color: rgb(0, 0, 0);
} */

/* .page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
} */

/* .header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 200px 40px 200px;
} */

/* .header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
} */

/* .header__line {
  background-color: rgba(84, 84, 84);
  width: 100%;
  border: 1px solid #545454;
} */

/* @media (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    padding: 28px 0 38px 0;
  }

  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 32px 27px;
  }
} */

/* .content {
  padding: 0 200px;
} */

/* @media (max-width: 767px) {
  .content {
    padding: 0 19px;
  }
} */

/* .profile {
  display: flex;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
} */

/* .profile__avatar {
  box-sizing: content-box;
  width: 169px;
  height: 128px;
  position: absolute;
  top: -4px;
  left: -23px;
} */

/* .profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 4px 26px 4px 23px;
} */

/* .profile__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  max-width: 336px;
  margin: 22px 0 12px 150px;
} */

/* .profile__button {
  border-color: rgba(255, 255, 255, 1);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
} */

/* .profile__button_type-edit {
  background-image: url(../images/edit-button.svg);
  background-size: cover;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 0;
  width: 24px;
  height: 24px;
} */

/* .profile__button_type-add {
  background-image: url(../images/add-button.svg);
  margin: 35px 0 35px 237px;
  padding: 0;
  width: 150px;
  height: 50px;
} */

/* .profile__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 16px;
} */

/* .profile__job {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
} */

/* @media (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
  }

  .profile__avatar {
    width: 169px;
    height: 128px;
    position: absolute;
    top: -4px;
    left: 58px;
  }

  .profile__image {
    padding: 4px 26px 4px 23px;
  }

  .profile__info {
    max-width: 282px;
    margin: 146px 0 36px 0;
  }

  .profile__button_type-edit {
    top: 8px;
    right: 19px;
    width: 18px;
    height: 18px;
  }
  
  .profile__button_type-add {
    background-image: url(../images/add-button-mobile.svg);
    margin: 0;
    width: 282px;
    height: 50px;
  }
  
  .profile__name {
    margin: 0 auto;
    padding-bottom: 14px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
  
  .profile__job{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
  }
} */

/* .elements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  padding: 0;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  padding: 51px 0 67px 0;
} */

/* .elements__list-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  overflow: hidden;
} */

/* .elements__image {
  width: 282px;
  height: 282px;
} */

/* .elements__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 246px;
  padding: 25px 15px 31px 21px;
} */

/* .elements__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* .elements__button {
  background-image: url(../images/like-disabled.svg);
  background-color: #FFFFFF;
  border-color: #FFFFFF;;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
}

.elements__button:hover {
  opacity: 0.5;
}

.elements__button:active {
  background-image: url(../images/like-active.svg);
} */

/* @media (max-width: 767px) {
  .elements__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 282px;
    padding: 36px 0 48px 0;
  }
} */

/* .footer {
  padding: 0 0 60px 200px;
} */

/* .footer__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
} */

/* @media (max-width: 767px) {
  .footer {
    padding: 0 0 36px 19px;
  }

  .footer__paragraph {
    font-size: 14px;
    line-height: 17px;
  }
} */

/* .popup {
  font-family: "Inter", "Arial", sans-serif;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .popup_opened {
  display: flex;
} */

/* .popup__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  max-width: 430px;
  width: 100%;
} */

/* .popup__close {
  background-image: url(../images/close-button.svg);
  background-color: rgba(255, 255, 255, 0);
  background-size: contain;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
} */

/* .popup__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
} */

/* .popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 54px 0 0px 0;
} */

/* .popup__input-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin: 0;
}

.popup__input-text:focus {
  outline-style: none;
} */

/* .popup__save {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border: none;
  padding: 0;
  width: 358px;
  height: 50px;
}

.popup__save:hover {
  opacity: 0.8;
} */

/* @media (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
    max-width: 282px;
  }

  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__form {
    padding: 75px 0 45px 0;
  }
  
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
  }
} */