.profile__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  max-width: 336px;
  margin: 22px 0 12px 150px;
}
@media (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin: 146px 0 36px 0;
    }
}