.profile__job {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  grid-area: job;
  margin: 0;
}

@media (max-width: 767px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    }
}